@model Persona5API.ViewModels.PersonaViewModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var weakElmArr = new List<string>();
	var resistElmArr = new List<string>();
	var weakElements = Model.Persona.WeakElements;
	var resistElements = Model.Persona.ResistElements;
	foreach(var weakElm in weakElements)
	{
		weakElmArr.Add(weakElm.Name);
	}
	foreach(var resistElm in resistElements)
	{
		resistElmArr.Add(resistElm.Name);
	}
}

<h1>Details</h1>

<div>
	<p>"@Model.Persona.Description"</p>
	<h2>@Model.Persona.Name (@Model.Persona.Level / @Model.Persona.Arcana)</h2>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Persona.ResistElements)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Persona.WeakElements)
			</th>
		</tr>
		<tr>
			<td>
				@String.Join(", ", resistElmArr)
			</td>

			<td>				
				@String.Join(", ", weakElmArr)
			</td>

		</tr>
	</table>
	<hr />

	<h3>Skills</h3>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PersonaSkill.Element)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PersonaSkill.SkillName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PersonaSkill.Effect)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PersonaSkill.Power)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PersonaSkill.Cost)
			</th>
		</tr>
		@foreach (var skill in Model.Persona.Skills)
		{
			<tr>
				<td>
					@skill.ElementName
				</td>
				<td>
					<a href="@Url.Action("Details", "Skill", new { id = skill.Id })">@skill.SkillName</a>
				</td>
				<td>
					@skill.Effect
				</td>
				<td>
					@skill.Power
				</td>
				@if (!string.IsNullOrEmpty(skill.CostAmount))
				{
					<td>@skill.CostAmount</td>
				}
				else
				{
					<td>-</td>
				}
			</tr>

		}
	</table>
	<h3>Stats</h3>
	<hr />
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Persona.Stats.Strength)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Persona.Stats.Magic)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Persona.Stats.Endurance)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Persona.Stats.Agility)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Persona.Stats.Luck)
			</th>
		</tr>
		<tr>
			<td>
				@Html.DisplayFor(modelItem => modelItem.Persona.Stats.Strength)
			</td>
			<td>
				@Html.DisplayFor(modelItem => modelItem.Persona.Stats.Magic)
			</td>
			<td>
				@Html.DisplayFor(modelItem => modelItem.Persona.Stats.Endurance)
			</td>
			<td>
				@Html.DisplayFor(modelItem => modelItem.Persona.Stats.Agility)
			</td>
			<td>
				@Html.DisplayFor(modelItem => modelItem.Persona.Stats.Luck)
			</td>
		</tr>
	</table>

</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Persona.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
