@model IEnumerable<Persona5API.Models.Persona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Level)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Arcana)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stats.Strength)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stats.Magic)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stats.Endurance)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stats.Agility)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stats.Luck)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Level)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Arcana)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Stats.Strength)
			</td>
			<td>
				@Html.DisplayFor(model => item.Stats.Magic)
			</td>
			<td>
				@Html.DisplayFor(model => item.Stats.Endurance)
			</td>
			<td>
				@Html.DisplayFor(model => item.Stats.Agility)
			</td>
			<td>
				@Html.DisplayFor(model => item.Stats.Luck)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
